<div class="login-screen">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs input-window">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { class: 'passwordly-input' }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { class: 'passwordly-input' } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { class: 'passwordly-input' } %>
    </div>

    <div class="form-actions text-center mt-3">
      <%= f.button :submit, "Sign up", class: "passordly-button info" %>
    </div>
  <% end %>
</div>
<div class="d-flex support-links mb-4 mr-4">
  <%= render "devise/shared/links" %>
</div>
