<div class="container">
  <div class="d-flex align-items-center flex-column">
    <div class="link-box mt-3">
      <h5 class="m-0"><%= link_to '< back', root_path %></h5>
    </div>
    <div class="passwordly-card passwordly-corners mt-3 p-4">
      <%= simple_form_for @key do |f| %>
        <%= f.input :name, input_html: { class: 'key-input' } %>
        <%= f.input :account, input_html: { class: 'key-input' } %>
        <%= f.input :password, input_html: { class: 'key-input' } %>
        <%= f.input :url, input_html: { class: 'key-input' } %>
        <div class="text-center">
          <%= f.submit 'Update', class: "passordly-button info text-white" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
