<div class="add-key d-sm-none d-md-flex align-items-center">
  <p class="m-0 mr-3">Add Passkey</p>
  <button type="button" class="add-key-button" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-plus"></i>
  </button>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-0 passwordly-corners">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <%= simple_form_for @key, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :name, input_html: { class: 'key-input' } %>
          <%= f.input :account, input_html: { class: 'key-input' } %>
          <%= f.input :password, input_html: { class: 'key-input' } %>
          <%= f.input :url, input_html: { class: 'key-input' } %>
          <div class="text-center">
            <%= f.submit 'Create', class: "passordly-button info text-white" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container text-center mt-4 mb-4">
  <% @keys.each do |key| %>
    <% if key.user == current_user %>
      <div class="card passwordly-card passwordly-corners border-0 mt-3">
        <div class="card-body">

          <div class="text-left">
            <div class="card-title">
              <h5><%= key.name %></h5>
            </div>
            <p><i class="fas fa-user-circle"></i> <%= key.account %></p>
            <% pass = "•" * key.password.length %>
            <div class="card password-text border-0">
              <p class="password-text"><i class="fas fa-key"></i> <%= pass %></p>
              <!-- <p type="password"><%= key.password %></p> -->
              <% key_copy_function = "myFunction("+"\"#{key.password}\""+")" %>
              <% key_copy_function %>
              <a class="stretched-link" onclick="<%= key_copy_function %>"></a>
            </div>
            <div class="link-text card border-0">
              <a href="https://<%= key.url %>" target="_blank"><i class="fas fa-link"></i> <%= key.url %></a>
            </div>
          </div>
          <div class="d-flex justify-content-end key-card-links">
            <h5 class="edit-link"><%= link_to "Edit", edit_key_path(key) %></h5>
            <h5 class="delete-link ml-2"><%= link_to "Delete", key_path(key), method: :delete %></h5>
          </div>

        </div>
      </div>
    <% else %>
    <% end %>
  <% end %>
</div>

<script>
function myFunction(key) {
  console.log(key);
  // Create new element
   var el = document.createElement('textarea');
   // Set value (string to be copied)
   el.value = key;
   // Set non-editable to avoid focus and move outside of view
   el.setAttribute('readonly', '');
   el.style = {position: 'absolute', left: '-9999px'};
   document.body.appendChild(el);
   // Select text inside element
   el.select();
   // Copy text to clipboard
   document.execCommand('copy');
   // Remove temporary element
   document.body.removeChild(el);
  alert("Password copied to clipboard!");
}
</script>
