<div class="add-key d-flex align-items-center">
  <p class="m-0 mr-3">Add Passkey</p>
  <button type="button" class="add-key-button" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-plus"></i>
  </button>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-0 passwordly-corners">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <%= simple_form_for @key, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :name, input_html: { class: 'key-input' } %>
          <%= f.input :account, input_html: { class: 'key-input' } %>
          <%= f.input :password, input_html: { class: 'key-input' } %>
          <%= f.input :url, input_html: { class: 'key-input' } %>
          <div class="text-center">
            <%= f.submit 'Create', class: "passordly-button info text-white" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container text-center">
  <% @keys.each do |key| %>
    <% if key.user == current_user %>
      <div class="passwordly-card passwordly-corners mt-3">
        <div class="card-body">
          <div class="card-title">
            <h5><%= key.name %></h5>
          </div>
          <p><%= key.account %></p>
          <% pass = "•" * key.password.length %>
          <p><%= pass %></p>
          <p type="password"><%= key.password %></p>
          <% key_copy_function = "myFunction("+"\"#{key.password}\""+")" %>
          <%= key_copy_function %>
          <button class="btn btn-secondary" onclick="<%= key_copy_function %>">Copy text</button>
          <p><a href="https://<%= key.url %>" target="_blank"><%= key.url %></a></p>
          <p class="btn btn-primary"><%= link_to "Edit", edit_key_path(key), class: "text-white" %></p>
          <p class="btn btn-danger"><%= link_to "Delete", edit_key_path(key), class: "text-white" %></p>
        </div>
      </div>
    <% else %>
    <% end %>
  <% end %>
</div>

<script>
function myFunction(key) {
  console.log(key);
  // Create new element
   var el = document.createElement('textarea');
   // Set value (string to be copied)
   el.value = key;
   // Set non-editable to avoid focus and move outside of view
   el.setAttribute('readonly', '');
   el.style = {position: 'absolute', left: '-9999px'};
   document.body.appendChild(el);
   // Select text inside element
   el.select();
   // Copy text to clipboard
   document.execCommand('copy');
   // Remove temporary element
   document.body.removeChild(el);
  alert("Password copied to clipboard!");
}
</script>
